<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 20px;">
  <a class="navbar-brand" href="#">
      <img src="assets/imgMovieIcon.png" width="30" 
      height="30" class="d-inline-block align-top">
      MoviesProject
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Administrador</span> <span class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn fast">
              <li><a [routerLink]="['/solicitudes']">Solicitudes</a></li>
              <li><a [routerLink]="['/solicitudes']">Tokens</a></li>
          </ul>
        </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Buscar</a>
          </li> 
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
      </form>
  </div>
</nav>