<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="7">
            <h3 class="font-weight-bold text-center">Historial de solicitudes realizadas</h3>
          </th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">id</span></th>
          <th class="text-center"><span style="font-size: 20px;">usuario</span></th>
          <th class="text-center"><span style="font-size: 20px;">tipo</span></th>
          <th class="text-center"><span style="font-size: 20px;">status</span></th>
          <th class="text-center"><span style="font-size: 20px;">emisión</span></th>
          <th class="text-center"><span style="font-size: 20px;">aprobación</span></th>
          <th class="text-center"><span style="font-size: 20px;"></span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let solicitud of solicitudes | paginate: { id:
          'requestsPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
          paginationConfig.currentPage, totalItems: paginationConfig.totalItems };">
          <tr>
            <td class="text-center">{{solicitud.id}}</td>
            <td class="text-center">{{solicitud.usuario}}</td>
            <td class="text-center">{{solicitud.tipo}}</td>
            <td class="text-center">{{solicitud.status}}</td>
            <td class="text-center">{{solicitud.emision| date: 'dd/MM/yyyy; hh:mm:ss a' }}</td>
            <td *ngIf="!solicitud.aprobacion.toString().includes('0001-01-01')" class="text-center">
                {{solicitud.aprobacion | date: 'dd/MM/yyyy; hh:mm:ss a'}}
            </td>
            <td *ngIf="solicitud.aprobacion.toString().includes('0001-01-01')" class="text-center">
              Fecha por definir
            </td>
            <td class="text-center">
              <button *ngIf="!solicitud.status.includes('Solicitada')" type="button"
                class="btn btn-info" disabled><i class="fas fa-check-square"></i> Aprobada
              </button>
              <button *ngIf="solicitud.status.includes('Solicitada')" type="button" class="btn btn-secondary"
                data-toggle="tooltip" data-placement="top" title="Autorizar solicitud"
                (click)="aprobarSolicitud(solicitud.id)"><i class="fas fa-user-check"></i> Aprobar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls id="requestsPagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>