<html>
    <body>
        <h2>Ingrese los nuevos datos del empleado:</h2><hr>
        <div>
            <form class="bg-light rounded border border-secondary">
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Código:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.id_empleado" [ngModelOptions]="{standalone: true}" type="number" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Nombre:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.nombre" [ngModelOptions]="{standalone: true}" type="text" maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Apellido:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.apellido" [ngModelOptions]="{standalone: true}" type="text" maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Dirección:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.direccion" [ngModelOptions]="{standalone: true}" type="text" maxlength="100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Teléfono:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.telefono" [ngModelOptions]="{standalone: true}" type="text" maxlength="14">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Sueldo:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.sueldo" [ngModelOptions]="{standalone: true}" type="number" min=3000 max="15000" step=1 maxLength="5"
                            oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-dark">Estado:</label>
                    </div>
                    <div class="col-md-6">
                        <select [(ngModel)]="empleado.status" [ngModelOptions]="{standalone: true}">
                            <option *ngIf="trabajando" [value]="0" disabled>Inactivo</option>
                            <option *ngIf="!trabajando" [value]="0">Inactivo</option>
                            <option [value]="1">Activo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-7">
                        <modal-entity [modalRequest]="'ActualizarEmpleado'" (modalRequestEvent)="ActualizarEmpleado($event)"></modal-entity>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary" type="button" (click)="RegresarEmpleados();">Regresar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>