<html>
    <body>
        <h2 class="text-dark">Ingrese los datos del empleado:</h2><hr>
        <div>
            <form class="bg-dark">
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Nombre:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.nombre" [ngModelOptions]="{standalone: true}" type="text" maxlength="20" placeholder="escribe el nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Apellido:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.apellido" [ngModelOptions]="{standalone: true}" type="text" maxlength="20" placeholder="escribe el apellido">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Dirección:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.direccion" [ngModelOptions]="{standalone: true}" type="text" maxlength="100" placeholder="escribe el dirección">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Teléfono:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.telefono" [ngModelOptions]="{standalone: true}" type="text" maxlength="14" placeholder="escribe el teléfono">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Sueldo:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="empleado.sueldo" [ngModelOptions]="{standalone: true}" type="number" min=3000 max="15000" step=1 maxlength="5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-light">Estado:</label>
                    </div>
                    <div class="col-md-6">
                        <select [(ngModel)]="empleado.status" [ngModelOptions]="{standalone: true}">
                            <option [value]="0">Inactivo</option> <option [value]="1">Activo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-7">
                        <modal-entity [modalRequest]="'CrearEmpleado'" (modalRequestEvent)="CrearEmpleado($event)"></modal-entity>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary" type="button" (click)="RegresarEmpleados();">Regresar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>