<div class="container-fluid">
  <h1 class="text-center">
      <span class="font-weight-bold text-light poppins">{{title}}</span>
    </h1>
  <div class="col-xl-12 animated-fade-in">
    <app-descargas [adminView]="true" [currentPage]="currentPageDescargas"
      [currenDownloadIndex]="currenDownloadIndex" [createLinkFlag]="createLinkFlag">
    </app-descargas>
    <app-tipos-archivo [currentPage]="currentPageTiposArchivo"></app-tipos-archivo>
    <app-servidores [currentPage]="currentPageServidores"></app-servidores>
  </div>
</div>