<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="4">
            <h3 class="font-weight-bold text-center">Formatos</h3>
            <button *ngIf="!create && currentPage == totalPages" type="button" class="btn btn-success" data-toggle="tooltip"
              data-placement="top" title="Agregar Elemento" (click)="setCreateFlag()"
              style="float: right; margin-top: -40px;"><i class="fas fa-plus-circle"></i>
            </button>
            <button *ngIf="create && currentPage == totalPages" type="button" class="btn btn-info" data-toggle="tooltip"
              data-placement="top" title="Ingorar Agregación" (click)="setCreateFlag()"
              style="float: right; margin-top: -40px;"><i class="fas fa-minus-circle"></i>
            </button>
          </th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">id</span></th>
          <th class="text-center"><span style="font-size: 20px;">Nombre</span></th>
          <th class="text-center" colspan="2"><span style="font-size: 20px;">Acciones</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let formato of formatos | paginate: { id:
          'formatsPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
          paginationConfig.currentPage, totalItems: paginationConfig.totalItems }; let i=index;">
          <tr>
            <td class="text-center">
              <span *ngIf="formato">{{formato.id_formato}}</span>
              <span *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1">
                {{formatos[formatos.length-2]?.id_formato+1}}
              </span>
            </td>
            <td class="text-center">
              <span *ngIf="formato">{{formato.nombre_formato}}</span>
              <input *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1" 
              [(ngModel)]="nuevoFormato.nombre_formato" type="text" class="form-control" autofocus="">
            </td>
            <td class="text-center">
              <app-modal-actualizacion *ngIf="formato"
                [request]="'ActualizarFormato'" [model]="formato"
                (modelObjectEvent)="actualizarFormato($event)">
              </app-modal-actualizacion>
            </td>
            <td class="text-center">
              <app-modal-eliminacion *ngIf="formato"
                [request]="'EliminarFormato'" [model]="formato.id_formato"
                (modelIdentifierEvent)="eliminarFormato($event)">
              </app-modal-eliminacion>
              <button *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1"
                type="button" class="btn btn-success btn-block" data-toggle="tooltip"
                data-placement="top" title="Agregar Elemento" style="float: right;" (click)="crearFormato()">Agregar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls id="formatsPagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>