<div class="nav-side-menu animated-fade-in">
  <div class="brand">Menú de Opciones</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li><a [routerLink]="['/home']"><i class="fas fa-home"></i>Home</a></li>
      <li data-toggle="collapse" data-target="#order" class="collapsed">
        <a><i class="far fa-object-group"></i>Ordenar por<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="order">
        <li><a [routerLink]="['/home', {ordenamiento: 'nombre'}]">Nombre</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'fecha'}]">Fecha de Estreno</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'presupuesto'}]">Presupuesto</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'recaudacion'}]">Recaudación</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'calificacion'}]">Calificación</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'directores'}]">Directores</a></li>
        <li><a [routerLink]="['/home', {ordenamiento: 'generos'}]">Géneros</a></li>
      </ul>
      <li><a href="#"><i class="fa fa-user fa-lg"></i>Profile</a></li>
    </ul>
  </div>
</div>