<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="8"><h3 class="font-weight-bold text-center">Registro de uaurios</h3></th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">id</span></th>
          <th class="text-center"><span style="font-size: 20px;">nombre</span></th>
          <th class="text-center"><span style="font-size: 20px;">correo</span></th>
          <th class="text-center" colspan="2"><span style="font-size: 20px;">contraseña</span></th>
          <th class="text-center"><span style="font-size: 20px;">tipo</span></th>
          <th class="text-center" colspan="2"><span style="font-size: 20px;">acciones</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let usuario of usuarios | paginate: { id:
          'usersPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
          paginationConfig.currentPage, totalItems: paginationConfig.totalItems }; let i=index;">
          <tr>
            <td class="text-center">{{usuario.id_usuario}}</td>
            <td class="text-center">{{usuario.nombre_usuario}}</td>
            <td class="text-center">{{usuario.correo_usuario}}</td>
            <td *ngIf="!decrypts[i]" class="text-center">{{usuario.password_usuario}}</td>
            <td *ngIf="decrypts[i]" class="text-center">{{passwords[i]}}</td>
            <td class="text-center">
              <button *ngIf="!decrypts[i]" type="button" class="btn btn-secondary"
                data-toggle="tooltip" data-placement="top" title="Desencriptar"
                (click)="decryptPassword(i, usuario.id_usuario)"><i class="fas fa-eye"></i> 
              </button>
              <button *ngIf="decrypts[i]" type="button" class="btn btn-secondary"
                data-toggle="tooltip" data-placement="top" title="Encriptar"
                (click)="encryptPassword(i)"><i class="fas fa-eye-slash"></i>
              </button>
            </td>
            <td *ngIf="usuario.tipo_usuario==1" class="text-center">Administrador</td>
            <td *ngIf="usuario.tipo_usuario==2" class="text-center">Visitante</td>
            <td class="text-center">
              <app-modal-actualizacion
                [request]="'ActualizarUsuario'" [model]="usuario"
                (modelObjectEvent)="actualizarUsuario($event)">
              </app-modal-actualizacion>
            </td>
            <td class="text-center">
              <app-modal-eliminacion
                [request]="'EliminarUsuario'" [model]="usuario.id_usuario"
                (modelIdentifierEvent)="eliminarUsuario($event)">
              </app-modal-eliminacion>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls id="usersPagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>