.container-fluid {
    display: inline-flex;
}

.row {
    margin-left: 5px; 
}

.column {
    margin-bottom: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}