<div class="container-fluid">
  <app-sidenavbar></app-sidenavbar>
  <div class="row">
    <div class="col-xl column animated-fade-in" *ngFor="let pelicula of peliculas | paginate: { id:
      'moviesPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
      paginationConfig.currentPage, totalItems: paginationConfig.totalItems };" >
      <app-tarjeta-pelicula *ngIf="pelicula"
        [pelicula]="pelicula"
        detallesTecnicos="detallesTecnicos">
      </app-tarjeta-pelicula>
      <app-tarjeta-pelicula *ngIf="!pelicula"></app-tarjeta-pelicula>
    </div>
  </div>
</div>
<pagination-controls id="moviesPagination" (pageChange)="pageChanged($event)"></pagination-controls>