.container-fluid {
    display: inline-flex;
}

.row {
    margin-left: 5px; 
}

.column {
    margin-bottom: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.card {
    margin: 0 auto;
    width: 280px;
    height: 480px;
    background: #000;
    overflow: hidden;
    box-shadow: 10px 20px 20px #000000;
    border-radius: 10px;
}

.card .poster:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 20%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    filter: blur(1.5px);
    transform: translateY(-50px);
}

.details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%; 
    bottom: -370px;
    transition: 0.5s;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h4 {
    color: #fff;
    padding: 0;
}

.details h4 span {
    font-size: 15px;
    color: #ff9800;
}

.rating span {
    color: #fff;
    padding: 0 5px;
}

.tags {
    margin-top: 10px;
}

.tags span {
    padding: 2px 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 5px;
    font-style: oblique;
}

.tags span.fantacy {
    background: #7206f7;
}

.tags span.romance {
    background: #f70661;
}

.info {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.info p {
    text-align: justify;
}

.form-details {
    margin-top: 10px;
}