<div class="home-container">
  <div class="sidemenu">
    <div class="menu">
      <li class="item">
          <button type="button" class="btn btn-block btn-menu" (click)="setFlagSubMenu(0);"><i class="far fa-envelope"></i>Buscar</button>
        <div *ngIf="menuFlags[0]" class="smenu">
            <button type="button" class="btn btn-link btn-block">Tipo de archivo</button>
            <button type="button" class="btn btn-link btn-block">Tipo Resolución</button>
            <button type="button" class="btn btn-link btn-block">Valor Resolución</button>
            <button type="button" class="btn btn-link btn-block">Año de Estreno</button>
            <button type="button" class="btn btn-link btn-block">Servidor</button>
            <button type="button" class="btn btn-link btn-block">Idioma</button>
            <button type="button" class="btn btn-link btn-block">Escena</button>
            <button type="button" class="btn btn-link btn-block">Director</button>
            <button type="button" class="btn btn-link btn-block">Productora</button>
            <button type="button" class="btn btn-link btn-block">Actor</button>
            <button type="button" class="btn btn-link btn-block">Personaje</button>
            <button type="button" class="btn btn-link btn-block">Idioma</button>
        </div>
      </li>
      <li class="item">
        <button type="button" class="btn btn-block  btn-menu" (click)="setFlagSubMenu(1);"><i class="far fa-user"></i>Ordenar</button>
        <div *ngIf="menuFlags[1]" class="smenu">
          <button type="button" class="btn btn-link btn-block">Categoría</button>
          <button type="button" class="btn btn-link btn-block">Resolución</button>
          <button type="button" class="btn btn-link btn-block">Fecha de Estreno</button>
          <button type="button" class="btn btn-link btn-block">Presupuesto</button>
          <button type="button" class="btn btn-link btn-block">Calificación</button>
          <button type="button" class="btn btn-link btn-block">Dirección</button>
          <button type="button" class="btn btn-link btn-block">Producción</button>
          <button type="button" class="btn btn-link btn-block">Actores</button>
          <button type="button" class="btn btn-link btn-block">Descarga</button>
          <button type="button" class="btn btn-link btn-block">Idioma</button>
          <button type="button" class="btn btn-link btn-block">Duración</button>
        </div>
      </li>
    </div>
  </div>
  <div class="row">
    <div class="column animated fadeIn fast" *ngFor="let a of noPeliculas">
      <div class="card animated fadeIn fast">
        <div class="poster">
          <img src="assets/imgAvengersEndGame.jpg">
          <div class="details">
            <h4 class="font-weight-bold">
              Avengers Endgame (2019)<br>
              <span>Directed by Joe Russo</span>
            </h4>
            <div class="rating">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%
                  </div>
                </div>
            </div>
            <div class="tags">
              <span class="badge-primary">Acción</span>
              <span class="badge-secondary">Ciencia Ficción</span>
            </div>
            <div class="info">
              <b>Sinopsis:</b>
              <p>Los Vengadores restantes deben encontrar una manera de recuperar a sus aliados para
                un enfrentamiento épico con Thanos, el malvado que debastó el planeta y el universo.
              </p>
              <span><strong>Fecha de estreno: </strong>26/04/2019</span><br>
              <span><strong>Presupuesto: </strong>$300000000.00</span><br>
              <span><strong>Recaudación: </strong>$2048359754.00</span><br>
              <span><strong>Idiomas: </strong>Español / Inglés</span><br>
              <span><strong>Productoras: </strong>Marvel</span><br>
            </div>
            <div class="form-details">
                <button class="btn btn-info" type="submit"><b>Ver más detalles</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>