<html>
    <body>
        <div class="row">
            <div class="col-md-3">
                <h1>Menú de Selección</h1>
            </div>
            <div class="col-md-9">
                <input class="btn-empleados" type="button" value="Empleados" (click)="EmpleadosRequest();">
                <input class="btn-proyectos" type="button" value="Proyectos" (click)="ProyectosRequest();">
                <input class="btn-asignaciones" type="button" value="Asignaciones" (click)="AsignacionesRequest();">
            </div>
        </div>
    </body>
</html>