/* Estilos de index: */

body {
    background-color: #ffffff;
}

body div div div input {
    margin-top: 15px;
    font-size: 22px;
}

.table {
    border-radius: 5px 5px;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}

.table thead tr th {
    font-size: 20px;
}

.table tbody tr td {
    font-size: 16px;
    font-family: Helvetica;
    overflow: hidden;
}

.table tbody tr td input {
    margin-right: 15px;
}

/* Estilos de create y edit: */

body h2 {
    margin-left: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

body div form { 
    max-width: 720px;
    margin-left: 20px;
    border-radius: 10px 10px;
    padding-bottom: 0.6em;
}

body div form div div label {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 22px;
    font-style: oblique;
}

body div form div div input, select {
    margin-top: 15px;
    border-radius: 5px 5px;
    width: 500px;
    font-size: 20px;
}

body div form div div button {
    margin-left: 15px;
    font-size: 16px;
}