<html>
    <body>
        <div>
            <div class="row">
                <div class="col-md-10">
                    <h2 class="text-dark">Catálogo de Asignaciones:</h2>
                </div>
                <div class="col-md-2">
                    <input class="btn btn-success" type="button"
                    value="Crear Nueva" (click)="CrearAsignacion();">
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Código</th>
                        <th>Proyecto</th>
                        <th>Empleado</th>
                        <th>Asignado</th>
                        <th>Desasignado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let asignacion of asignaciones; let i=index;" [attr.data-index]="i">
                        <tr>
                            <td>{{asignacion.id_asignacion}}</td>
                            <td>{{proyectosNames[i]}}</td> <td>{{empleadosNames[i]}}</td>
                            <td>{{this.fechasService.GetDateDMY(asignacion.fecha_asignado)}}</td>
                            <td>{{this.fechasService.GetDateDMY(asignacion.fecha_desasignado)}}</td>
                            <td>
                                <input *ngIf="proyectosEstados[i]!=2" class="btn btn-primary" type="button"
                                    value="Editar" (click)="EditarAsignacion(asignacion.id_asignacion);">
                                <input *ngIf="proyectosEstados[i]==2" class="btn btn-primary"
                                    type="button" value="Editar" disabled> |
                                <modal-entity
                                    *ngIf="proyectosEstados[i]!=2"
                                    [modalEntity]="asignacion.id_asignacion"
                                    [modalRequest]="'BorrarAsignacion'"
                                    (modalEntityEvent)="ActualizaIdAsignacion($event);"
                                    (modalRequestEvent)="BorrarAsignacion($event);">
                                </modal-entity>
                                <modal-entity
                                    *ngIf="proyectosEstados[i]==2"
                                    [modalEntity]="asignacion.id_asignacion"
                                    [modalRequest]="'BorrarAsignacion'"
                                    (modalEntityEvent)="ActualizaIdAsignacion($event);"
                                    (modalRequestEvent)="BorrarAsignacion($event);"
                                    [disabled]="'disabled'">
                                </modal-entity>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div style="text-align: center;">
                <ng-container *ngFor="let pageIndex of pageIndexes;" >
                    <input class="btn btn-secondary" type="button" value="{{pageIndex}}"
                        (click)="MuestraPagina(pageIndex);" style="margin-left: 5px;">
                </ng-container>
            </div>
        </div>
    </body>
</html>