@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>-----Create Customer:-----</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name:<input asp-for="@Model.Customer.Name" /><input type="submit" /></div>
    <span asp-validation-for="@Model.Customer.Name"></span>
</form>