@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>-----Edit Customer @Model.Customer.Name:-----</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="@Model.Customer.Id" type="hidden" />
    <div>New Name:<input asp-for="@Model.Customer.Name" /><input type="submit" /></div>
    <span asp-validation-for="Customer.Name"></span>
</form>