<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="4">
            <h3 class="font-weight-bold text-center">Relaciones de Aspecto</h3>
            <button *ngIf="!create && currentPage == totalPages" type="button" class="btn btn-success" data-toggle="tooltip"
              data-placement="top" title="Agregar Elemento" (click)="setCreateFlag(true)"
              style="float: right; margin-top: -40px;"><i class="fas fa-plus-circle"></i>
            </button>
            <button *ngIf="create && currentPage == totalPages" type="button" class="btn btn-info" data-toggle="tooltip"
              data-placement="top" title="Ingorar Agregación" (click)="setCreateFlag(false)"
              style="float: right; margin-top: -40px;"><i class="fas fa-minus-circle"></i>
            </button>
          </th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">id</span></th>
          <th class="text-center"><span style="font-size: 20px;">Valor</span></th>
          <th class="text-center" colspan="2"><span style="font-size: 20px;">Acciones</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let relacionAspecto of relacionesAspecto | paginate: { id:
          'aspectRatiosPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
          paginationConfig.currentPage, totalItems: paginationConfig.totalItems }; let i=index;">
          <tr>
            <td class="text-center">
              <span *ngIf="relacionAspecto">{{relacionAspecto.id_relacion_aspecto}}</span>
              <span *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1">
                {{relacionesAspecto[relacionesAspecto.length-2]?.id_relacion_aspecto+1}}
              </span>
            </td>
            <td class="text-center">
              <span *ngIf="relacionAspecto">{{relacionAspecto.valor_relacion_aspecto}}</span>
              <input *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1" 
              [(ngModel)]="nuevaRelacionAspecto.valor_relacion_aspecto" type="text" class="form-control" autofocus="">
            </td>
            <td *ngIf="relacionAspecto" class="text-center">
              <app-modal-actualizacion
                [request]="'ActualizarRelacionAspecto'" [model]="relacionAspecto"
                (modelObjectEvent)="actualizarRelacionAspecto($event)">
              </app-modal-actualizacion>
            </td>
            <td *ngIf="relacionAspecto" class="text-center">
              <app-modal-eliminacion
                [request]="'EliminarRelacionAspecto'" [model]="relacionAspecto.id_relacion_aspecto"
                (modelIdentifierEvent)="eliminarRelacionAspecto($event)">
              </app-modal-eliminacion>
            </td>
            <td *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1" colspan="2">
              <button type="button" class="btn btn-success btn-block" data-toggle="tooltip"
                data-placement="top" title="Agregar Elemento" style="float: right;" (click)="crearRelacionAspecto()">Agregar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls id="aspectRatiosPagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>