.employees_list_title {
    font-style: oblique;
    font-weight: bold;
}

.paginate-container {
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}
.pagination-btn {
    margin-left: 5px;
    font-size:30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.current {
    background-color: #0366d6;
    border-color: #0366d6;
    color: #fff;
    z-index: 3;
}