<html>
    <div class="well hoverwell" style="border-radius: 10px; margin-left: 20px; width:180px;">
        <h5 style="font-weight: bold;">Employee {{employee?.id_empleadoN}}:</h5>
        <span style="display:inline-block; margin-left: 20px;"><h5>Jefe: {{employee?.id_empleadoJ}}</h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Tipo: {{employee?.tipo_empleado}} </h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Nombre: {{employee?.nombre}} </h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Apellido: {{employee?.apellido}}</h5></span>
        <!-- <span style="display:inline-block; margin-left: 20px;"><h5>Direccion: {{employee?.direccion}}</h5></span> -->
        <span style="display:inline-block; margin-left: 20px;"><h5>Antiguedad: {{employee?.antiguedad}}</h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Contrato: {{employee?.fecha_contrato}}</h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Telefono: {{employee?.telefono}}</h5></span>
        <span style="display:inline-block; margin-left: 20px;"><h5>Salario: {{employee?.salario}}</h5></span>  
    </div>
</html>