<html>
    <div>
        <ng-container *ngFor="let row of getArrayFromZeroToN(employees?.length)">
            <div style="width: 2000px; height: 400px; margin-bottom: 10px; border-width: 1px; border-style: none; border-color: none; display: inline-flex;">
                <ng-container *ngFor="let col of getArrayFromAToB(row,(row+10))">
                    <employee-thumbnail [employee]="employees[col]"></employee-thumbnail>
                </ng-container>
            </div>
        </ng-container>
    </div>
</html>