/* Estilos de index: */

body {
    /*background: url(/assets/log-in-background.jpg) no-repeat center top;*/
    /*background: #e0e2e4;*/
    height: 100vh;
    background-size: cover; 
}

/* body div div div h3 {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
} */

body div div div input {
    margin-top: 15px;
    font-size: 22px;
}

.table {
    border-radius: 5px 5px;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}

.table thead tr th {
    font-size: 20px;
}

.table tbody tr td {
    font-size: 18px;
    font-family: Helvetica;
    overflow: hidden;
}

.table tbody tr td input {
    font-style: oblique;
}

/* Estilos de create edit y delete: */

body h2 {
    font-weight: bold;
    margin-left: 20px;
    font-family: Helvetica;
}

body div form { 
    max-width: 720px;
    margin-left: 20px;
    border-radius: 10px 10px;
}

body div form div div label {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 22px;
    font-style: oblique;
}

body div form div div input, textarea, select {
    margin-top: 15px;
    border-radius: 5px 5px;
    width: 500px;
    font-size: 20px;
}

body div form div div button {
    margin-left: 15px;
    font-size: 16px;
}