<html>
    <body>
        <h2>Estás seguro que deseas eliminar este proyecto???</h2><hr>
        <div>
            <form class="bg-dark">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Código:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="proyecto.id_proyecto" [ngModelOptions]="{standalone: true}" type="number" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Nombre:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="proyecto.nombre" [ngModelOptions]="{standalone: true}" type="text" maxlength="50" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Descripción:</label>
                    </div>
                    <div class="col-md-6">
                        <textarea [(ngModel)]="proyecto.descripcion" [ngModelOptions]="{standalone: true}" rows="4" cols="50" maxlength="200" disabled>{{proyecto.descripcion}}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Fecha inicio:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="fecha_inicio" [ngModelOptions]="{standalone: true}" type="date" date-format="DD-MM-YY" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Fecha fin:</label>
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="fecha_fin" [ngModelOptions]="{standalone: true}" type="date" date-format="DD-MM-YY" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-light">Estado:</label>
                    </div>
                    <div class="col-md-6">
                        <input *ngIf="proyecto.status==0" type="text" value="Inactivo" disabled>
                        <input *ngIf="proyecto.status==1" type="text" value="En Proceso" disabled>
                        <input *ngIf="proyecto.status==2" type="text" value="Terminado" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger" type="button" (click)="BorrarProyecto();">Borrar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary" type="button" (click)="RegresarProyectos();">Regresar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>