<button type="button" class="btn btn-primary" (click)="openModal(modalTemplate)">
  <i class="far fa-edit"></i>
</button>
<ng-template #modalTemplate>
  <div class="modal-content">
    <div class="modal-header text-center">
      <h5 *ngIf="request.includes('ActualizarUsuario')" class="modal-title font-weight-bold">
        Actualización del usuario número {{model.id_usuario}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarFormato')" class="modal-title font-weight-bold">
        Actualización del formato número {{model.id_formato}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarTipoResolucion')" class="modal-title font-weight-bold">
        Actualización del tipo de resolucion {{model.id_tipo_resolucion}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarValorResolucion')" class="modal-title font-weight-bold">
        Actualización del valor de resolución {{model.id_valor_resolucion}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarRelacionAspecto')" class="modal-title font-weight-bold">
        Actualización de la relación de aspecto {{model.id_relacion_aspecto}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarDetalleTecnico')" class="modal-title font-weight-bold">
        Actualización del detalle técnico {{model.id}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarTipoArchivo')" class="modal-title font-weight-bold">
        Actualización del tipo de archivo {{model.id_tipo_archivo}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarServidor')" class="modal-title font-weight-bold">
        Actualización del servidor {{model.id_servidor}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarDescarga')" class="modal-title font-weight-bold">
        Actualización de la descarga {{model.id_descarga}}
      </h5>
      <h5 *ngIf="request.includes('ActualizarEnlace')" class="modal-title font-weight-bold">
        Actualización del enlace {{model.id_enlace}}
      </h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="request.includes('ActualizarUsuario')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
            <label class="text-dark font-weight-bold">Nombre:</label>
            <input [(ngModel)]="model.nombre_usuario" [ngModelOptions]="{standalone: true}"
            type="text" class="form-control" placeholder="UserName" autofocus="">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Dirección de Email:</label>
          <input [(ngModel)]="model.correo_usuario" [ngModelOptions]="{standalone: true}"
          type="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Contraseña:</label>
          <input [(ngModel)]="model.password_usuario" [ngModelOptions]="{standalone: true}"
          type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Tipo:</label>
          <select [(ngModel)]="model.tipo_usuario" [ngModelOptions]="{standalone: true}" class="form-control" >
            <option [value]="1">Administrador</option>
            <option [value]="2">Visitante</option>
          </select>
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarFormato')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Nombre:</label>
          <input [(ngModel)]="model.nombre_formato" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Format Name" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarTipoResolucion')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Nombre:</label>
          <input [(ngModel)]="model.nombre_tipo_resolucion" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Resolution Name" autofocus="">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Visualización:</label>
          <input [(ngModel)]="model.porcentaje_visualizacion" [ngModelOptions]="{standalone: true}"
          type="number" class="form-control" placeholder="Resolution Vizualitation" autofocus="">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Pérdida:</label>
          <input [(ngModel)]="model.porcentaje_perdida" [ngModelOptions]="{standalone: true}"
          type="number" class="form-control" placeholder="Resolution Lost" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarValorResolucion')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Valor:</label>
          <input [(ngModel)]="model.valor_resolucion" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Resolution Value" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarRelacionAspecto')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Valor:</label>
          <input [(ngModel)]="model.valor_relacion_aspecto" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Aspect Ratio Value" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarDetalleTecnico')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Formato:</label>
          <select [(ngModel)]="technicalDetailToUpdate.id_formato" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let formato of formatos;" [value]="formato.id_formato">
              {{formato.id_formato}}.- {{formato.nombre_formato}}
            </option>
          </select>
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Resolución:</label>
          <select [(ngModel)]="resolutionIndex" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let resolucion of resoluciones; let i=index;" [value]="i">
              {{resolucion.id_tipo_resolucion}}.- {{resolucion.nombre_tipo_resolucion}} |
              {{resolucion.id_valor_resolucion}}.- {{resolucion.valor_resolucion}} |
              {{resolucion.id_relacion_aspecto}}.- {{resolucion.valor_relacion_aspecto}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarTipoArchivo')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Nombre:</label>
          <input [(ngModel)]="model.nombre_tipo_archivo" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="FileType Name" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarServidor')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Nombre:</label>
          <input [(ngModel)]="model.nombre_servidor" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Server Name" autofocus="">
        </div>
      </form>
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Sitio:</label>
          <input [(ngModel)]="model.sitio_servidor" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Server Site" autofocus="">
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarDescarga')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Password:</label>
          <input [(ngModel)]="downloadToUpdate.password_descarga" [ngModelOptions]="{standalone: true}"
          type="text" class="form-control" placeholder="Download Password" autofocus="">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Archivo:</label>
          <select [(ngModel)]="downloadToUpdate.id_tipo_archivo" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let tipoArchivo of tiposArchivo;" [value]="tipoArchivo.id_tipo_archivo">
                {{tipoArchivo.id_tipo_archivo}}.- {{tipoArchivo.nombre_tipo_archivo}}
            </option>
          </select>
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Servidor:</label>
          <select [(ngModel)]="downloadToUpdate.id_servidor" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let servidor of servidores;" [value]="servidor.id_servidor">
                {{servidor.id_servidor}}.- {{servidor.nombre_servidor}}
            </option>
          </select>
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Película:</label>
          <select [(ngModel)]="downloadToUpdate.id_pelicula" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let pelicula of peliculas;" [value]="pelicula.id_pelicula">
                {{pelicula.id_pelicula}}.- {{pelicula.nombre_pelicula}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div *ngIf="request.includes('ActualizarEnlace')" class="modal-body">
      <form class="bg-light">
        <div class="form-group text-left">
            <label class="text-dark font-weight-bold">Valor:</label>
            <input [(ngModel)]="linkToUpdate.valor_enlace" [ngModelOptions]="{standalone: true}"
            type="text" class="form-control" placeholder="LinkValue" autofocus="">
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Status:</label>
          <select [(ngModel)]="linkToUpdate.status_enlace" [ngModelOptions]="{standalone: true}" class="form-control">
            <option [value]="0">Inactivo</option> <option [value]="1">Activo</option>
          </select>
        </div>
        <div class="form-group text-left">
          <label class="text-dark font-weight-bold">Descarga</label>
          <select [(ngModel)]="linkToUpdate.id_descarga" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let descarga of descargas;" [value]="descarga.id_descarga">
                {{descarga.id_descarga}}.- {{descarga.nombre_pelicula}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="emitModelObjectEvent()">Aceptar
      </button>
    </div>
  </div>
</ng-template>