<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
  <i class="far fa-edit"></i>
</button>
<div class="modal fade text-dark" id="updateModal" tabindex="-1"
  role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 *ngIf="request.includes('ActualizarUsuario')" class="modal-title font-weight-bold"
          id="updateModalLabel">Actualización del usuario número {{model.id_usuario}}
        </h5>
        <button type="button" class="close" data-dismiss="modal"aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="request.includes('ActualizarUsuario')" class="modal-body">
        <form class="form-signup bg-light">            
            <div class="form-group text-left">
                <label class="text-dark font-weight-bold">Nombre de Usuario:</label>
                <input [(ngModel)]="model.nombre_usuario" [ngModelOptions]="{standalone: true}"
                type="text" class="form-control" placeholder="UserName" autofocus="">
            </div>
            <div class="form-group text-left">
              <label class="text-dark font-weight-bold">Dirección de Email:</label>
              <input [(ngModel)]="model.correo_usuario" [ngModelOptions]="{standalone: true}"
              type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group text-left">
              <label class="text-dark font-weight-bold">Contraseña:</label>
              <input [(ngModel)]="model.password_usuario" [ngModelOptions]="{standalone: true}"
              type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group text-left">
                <label class="text-dark font-weight-bold">Tipo de Usuario:</label>
                <select [(ngModel)]="model.tipo_usuario" [ngModelOptions]="{standalone: true}"
                class="form-control" >
                    <option [value]="1">Administrador</option>
                    <option [value]="2">Visitante</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#updateModal" (click)="emitModelObjectEvent(model)">Aceptar
        </button>
      </div>
    </div>
  </div>
</div>