<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="7">
            <h3 class="font-weight-bold text-center">Detalles Técnicos</h3>
            <button *ngIf="!create && currentPage == totalPages" type="button" class="btn btn-success" data-toggle="tooltip"
              data-placement="top" title="Agregar Elemento" (click)="setCreateFlag()"
              style="float: right; margin-top: -40px;"><i class="fas fa-plus-circle"></i>
            </button>
            <button *ngIf="create && currentPage == totalPages" type="button" class="btn btn-info" data-toggle="tooltip"
              data-placement="top" title="Ingorar Agregación" (click)="setCreateFlag()"
              style="float: right; margin-top: -40px;"><i class="fas fa-minus-circle"></i>
            </button>
          </th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">id</span></th>
          <th class="text-center"><span style="font-size: 20px;">Formato</span></th>
          <th class="text-center"><span style="font-size: 20px;">Tipo</span></th>
          <th class="text-center"><span style="font-size: 20px;">Valor</span></th>
          <th class="text-center"><span style="font-size: 20px;">Aspecto</span></th>
          <th class="text-center" colspan="2"><span style="font-size: 20px;">Acciones</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let detalleTecnico of detallesTecnicos | paginate: { id:
          'technicalDetailsPagination', itemsPerPage: paginationConfig.itemsPerPage, currentPage:
          paginationConfig.currentPage, totalItems: paginationConfig.totalItems }; let i=index;">
          <tr>
            <td class="text-center">
              <span *ngIf="detalleTecnico">{{detalleTecnico.id}}</span>
              <span *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1">
                {{detallesTecnicos[detallesTecnicos.length-2]?.id+1}}
              </span>
            </td>
            <td class="text-center">
              <span *ngIf="detalleTecnico">{{detalleTecnico.formato}}</span>
              <select *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1"
                [(ngModel)]="nuevoDetalleTecnico.id_formato" class="form-control">
                <option *ngFor="let formato of formatos;" [value]="formato.id_formato">
                  {{formato.id_formato}}.- {{formato.nombre_formato}}
                </option>
              </select>
            </td>
            <td *ngIf="detalleTecnico" class="text-center"><span>{{detalleTecnico.tipo}}</span></td>
            <td *ngIf="detalleTecnico" class="text-center"><span>{{detalleTecnico.valor}}</span></td>
            <td *ngIf="detalleTecnico" class="text-center"><span>{{detalleTecnico.aspecto}}</span></td>
            <td *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1" colspan="3">
              <select [(ngModel)]="resolutionIndex" class="form-control">
                <option *ngFor="let resolucion of resoluciones; let j=index;" [value]="j">Tipo: {{resolucion.id1}}.- {{resolucion.tipo}} |
                  Valor: {{resolucion.id2}}.- {{resolucion.valor}} | Relación de Aspecto: {{resolucion.id3}}.- {{resolucion.aspecto}}
                </option>
              </select>
            </td>
            <td *ngIf="detalleTecnico" class="text-center">
              <app-modal-actualizacion
                [request]="'ActualizarDetalleTecnico'" [model]="detalleTecnico"
                (modelObjectEvent)="actualizarDetalleTecnico($event)">
              </app-modal-actualizacion>
            </td>
            <td *ngIf="detalleTecnico" class="text-center">
              <app-modal-eliminacion
                [request]="'EliminarDetalleTecnico'" [model]="detalleTecnico.id"
                (modelIdentifierEvent)="eliminarDetalleTecnico($event)">
              </app-modal-eliminacion>
            </td>
            <td *ngIf="create && currentPage == totalPages && i==currentItemsPerPage-1" colspan="2">
              <button type="button" class="btn btn-success btn-block" data-toggle="tooltip"
                data-placement="top" title="Agregar Elemento" style="float: right;"
                (click)="crearDetalleTecnico()">Agregar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls id="technicalDetailsPagination" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>