<div class="container-fluid" style="padding: 20px;">
  <div class="col-xl-12 animated-fade-in">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th colspan="5">
            <h3 class="font-weight-bold text-center">
              Historial de tokens proporcionados a los uaurios
            </h3>
          </th>
        </tr>
        <tr>
          <th class="text-center"><span style="font-size: 20px;">Id</span></th>
          <th class="text-center"><span style="font-size: 20px;">Código</span></th>
          <th class="text-center"><span style="font-size: 20px;">Emisión</span></th>
          <th class="text-center"><span style="font-size: 20px;">Expiración</span></th>
          <th class="text-center"><span style="font-size: 20px;">Usuario</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let token of tokens | paginate: paginationConfig;">
          <tr>
            <td class="text-center">{{token.id_token}}</td>
            <td class="text-justify" style="word-wrap: break-word; max-width: 500px;">{{token.valor_token}}</td>
            <td class="text-center">{{token.emision_token | date: 'dd/MM/yyyy; hh:mm:ss a'}}</td>
            <td class="text-center">{{token.expiracion_token | date: 'dd/MM/yyyy; hh:mm:ss a'}}</td>
            <td class="text-center">{{token.nombre_usuario}}</td>  
          </tr>
        </ng-container>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>