<button type="button" class="btn btn-danger" (click)="openModal(modalTemplate)">
  <i class="fas fa-trash-alt"></i>
</button>
<ng-template #modalTemplate>
  <div class="modal-content">
    <div class="modal-header text-center">
      <h5 *ngIf="request.includes('EliminarUsuario')" class="modal-title font-weight-bold">
        Eliminación del usuario número {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarFormato')" class="modal-title font-weight-bold">
        Eliminación del formato número {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarTipoResolucion')" class="modal-title font-weight-bold">
        Eliminación del tipo de resolución {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarValorResolucion')" class="modal-title font-weight-bold">
        Eliminación del valor de resolución {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarRelacionAspecto')" class="modal-title font-weight-bold">
        Eliminación de la relación de aspecto {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarResolucion')" class="modal-title font-weight-bold">
        Eliminación de la resolución
        ({{model.id_tipo_resolucion}}, {{model.id_valor_resolucion}}, {{model.id_relacion_aspecto}})
      </h5>
      <h5 *ngIf="request.includes('EliminarDetalleTecnico')" class="modal-title font-weight-bold">
        Eliminación del detalle técnico {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarTipoArchivo')" class="modal-title font-weight-bold">
        Eliminación del tipo de archivo {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarServidor')" class="modal-title font-weight-bold">
        Eliminación del servidor {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarDescarga')" class="modal-title font-weight-bold">
        Eliminación de la descarga {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarEnlace')" class="modal-title font-weight-bold">
        Eliminación del enlace {{model}}
      </h5>
      <h5 *ngIf="request.includes('EliminarPelicula')" class="modal-title font-weight-bold">
        Eliminación de {{model.id_pelicula}} ({{model.nombre_pelicula}})
      </h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="request.includes('EliminarUsuario')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este usuario?.
        Al hacerlo, se eliminarán todas sus solicidudes y tokens.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarFormato')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este formato?. 
        Al hacerlo, se eliminarán todos sus detalles técnicos, las películas que
        tengan ese detalle, las descargas de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarTipoResolucion')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este tipo de resolución?
        Al hacerlo, se eliminarán todas sus resoluciones, los detalles técnicos que tengan esas resoluciones,
        las películas que tengan ese detalle, las descargas de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarValorResolucion')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este valor de resolución?
        Al hacerlo, se eliminarán todas sus resoluciones, los detalles técnicos que tengan esas resoluciones,
        las películas que tengan ese detalle, las descargas de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarRelacionAspecto')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar esta relación de aspecto?
        Al hacerlo, se eliminarán todas sus resoluciones, los detalles técnicos que tengan esas resoluciones,
        las películas que tengan ese detalle, las descargas de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarResolucion')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar esta resolución?
        Al hacerlo, se eliminarán todos sus detalles técnicos, las películas que tengan
        ese detalle, las descargas de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarDetalleTecnico')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este detalle técnico?
        Al hacerlo, se eliminarán todas sus películas, las descargas
        de esas películas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarTipoArchivo')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este tipo de archivo? Al hacerlo,
        se eliminarán todas sus descargas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarServidor')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar este servidor? Al hacerlo,
        se eliminarán todas sus descargas y los enlaces de esas descargas.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarDescarga')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar esta descarga? 
        Al hacerlo se eliminarán todos sus enlaces.
      </p>
    </div>
    <div *ngIf="request.includes('EliminarEnlace')" class="modal-body">
      <p class="text-center">Está seguro de que desea eliminar este enlace?</p>
    </div>

    <div *ngIf="request.includes('EliminarPelicula')" class="modal-body">
      <p class="text-center">
        Está seguro de que desea eliminar esta película? Al hacerlo, se
        eliminarán todas sus descargas y los enlaces de esas descargas.
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
      <button type="button" class="btn btn-danger" (click)="emitModelIdentifierEvent()">Aceptar
      </button>
    </div>
  </div>
</ng-template>